$btn-margin: 3px;
$main-color: #546e7a;

* {
  box-sizing: border-box;
  color: $main-color;
}

%transition {
  transition: all 0.5s ease;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 800px;
}

.textarea {
  width: 100%;
  border: 1px solid $main-color;
  height: 260px;
}

.keyboard {
  width: 100%;
  border: 1px solid $main-color;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  margin-right: -($btn-margin);
  margin-left: -($btn-margin);
}

.btn {
  display: inline-flex;
  min-width: 46px;
  height: 46px;
  border: solid 1px $main-color;
  justify-content: center;
  align-items: center;
  background-color: #cfd8dc;
  margin: $btn-margin;
  cursor: pointer;
  @extend %transition;
  &:hover {
    box-shadow: 0px 0px 7px 0px #8579b2;
    @extend %transition;
  }
}
.special {
  flex-grow: 1;
}

.space {
  flex-grow: 10;
}

.active {
  background-color: #8579b2;
  box-shadow: inset 0px 0px 9px 1px #402f7c;
  border-radius: 50px;
  color: whitesmoke;
  @extend %transition;
}
